.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
supervisord.log
todo
set_prod_env.sh
.env
guide/
.DS_Store
._*
